

	<h2><%=@category[:name]%></h2>

	<% @product.each do |item|%>
		<ul>
			<li><%=item.title%></li>
			<li><%=item.product_price%></li>
			<li><%=item.description%></li>
			<button>Purchase</button>
		</ul>
	<% end%>
