<!DOCTYPE html>
<html>
<head>
	<title>Show Category</title>
</head>
<body>

	<h2>you are in right category</h2>

	<% @product.each do |item|%>
		<img src="<%=item.image%>">
		<ul>
			<li><%=item.title%></li>
			<li><%=item.product_price%></li>
			<li><%=item.description%></li>
			<button>Purchase</button>
		</ul>
	<% end%>
</body>
</html>