<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Product Site</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

<header>
  <nav>
    <a href="/products">Home</a>
    <a href="/products/new">Create new listing</a>
  </nav>

</header>

  <%=yield%>

  </body>
</html>
