<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<%if session[:message]%>
		<h3><%=session[:message][:message]%></h3>
	<%end%>
	<h2>Login Form</h2>
	<form action="/auth/login" method="POST">
		<input type="username" name="username" placeholder="username">
		<input type="password" name="password" 
		placeholder="password">
		<button>Login</button>
	</form>
	<small>Need an account? <a href="/auth/register">Sign up here!</a></small>
</body>
</html>