<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Result of search</h1>
	<% @product.each  do |item| %>
		<ul>
			<img src="<%=item.image%>" height="200px">
			<li><%=item.title%></li>
			<li><%=item.description%></li>
			<li><%=item.product_price%>$</li>
		</ul>
	<% end %>
</body>
</html>