
a{
  font-size: 20px;
  padding-left:10px;
  color: darkblue;
  font-weight: 750;
}

body{
  margin: 10px 50px;
  font-family: 'Helvetica';
}

img {
  width:140px;
  height:auto;
}

.search {
  width:250px;
}

.search_container {
  padding: 15px 0;
  margin-bottom:20px;
}

.product{
  float:left;
  margin-left: 20px;
  width: 250px;
  height: 350px;

}

ul{
  padding-left:0px;
}